    <div class="footer">
        <div class="contents">
            <div class="social">
                <div class="logo"><a href="/"><img src="../../static/img/logo.png" alt="logo" width="170"></a></div>
            </div>
            <div class="slider">
                <div class="slides">
                    <div class="slide">
                        <h3>M. K. Atatürk:</h3>
                        <p>- Eğitim bir milletin ya bağımsız, hür, şanlı, yüksek bir topluluk halinde yaşamasını sağlar ya da o milletin esaret ve sefalet içinde yaşamasına sebep olur.</p>
                    </div>
                    <div class="slide">
                        <h3>Albert Einstein:</h3>
                        <p>- Eğitim bireyin okul hayatında edindiği bilgileri unuttuğu zaman geriye kalan şeydir. Gerçeğin peşine düşmek ona sahip olmaya göre daha değerlidir.</p>
                    </div>
                    <div class="slide">
                        <h3>Montaigne:</h3>
                        <p>- Eğitimli bir halkı herhangi bir tarafa yönlendirmek kolaydır, sürüklemek zordur, yönetmek basittir, köleleştirmek ise imkansızdır.</p>
                    </div>
                    <div class="slide">
                        <h3>Immanuel Kant:</h3>
                        <p>- Mutlaka eğitilmesi gereken tek yaratık insandır.</p>
                    </div>
                    <div class="slide">
                        <h3>Albert Schweitzer:</h3>
                        <p>- Her insan iki eğitim sürecinden geçer: İlki diğerlerinden aldığı eğitim, ikinci ve daha önemli olanı ise kendi kendisine verdiği eğitimdir.</p>
                    </div>
                    <div class="slide">
                        <h3>Cervantes:</h3>
                        <p>- İnsan eğitimle dünyaya gelmez fakat eğitim öğretimle yaşar.</p>
                    </div>
                </div>
              
                <!-- Manuel kontrol butonları -->
                <button class="prev" onclick="prevSlide()">&#10094;</button>
                <button class="next" onclick="nextSlide()">&#10095;</button>
            </div>
              
        </div>
        <p>© 2024 GAIT, Inc. All rights reserved.</p>

    </div>