{% extends "base.html" %}

{% load static %}

{% block title %}Mühendislik{% endblock title %}



{% block content %}
    <div class="lessons" style="margin-top: 10vh;">
        <h1><span>GAIT</span> Mühendislik Asistanları</h1>
        <h6 id="top">Mühendislik, bilimi pratiğe dökerek teknoloji ve inovasyonun temelini atar. Elektrik, endüstiri, gıda, inşaat, makine, yazılım ve bilgisayar mühendisliği gibi alanlar, modern yaşamın altyapısını kurar ve sanayiyi dönüştürür. GAIT Projesi, mühendislik öğrencilerine özelleştirilmiş yapay zeka asistanları sunarak eğitim süreçlerini desteklemeyi hedefler. Her mühendislik dalında rehberlik sağlayan bu sistem, öğrencilere bilgi kazandırmanın yanı sıra projelerinde uygulama becerilerini de geliştirir. GAIT ile yeni nesil mühendis adayları, geleceğin teknolojik başarılarına katkıda bulunmaya hazırlanır.</h6>
        <div class="contents">
            <div class="content" style="display: block;">
                <div class="packages">
                    <div class="package" id="special">
                        <i class="fa-solid fa-bolt"></i>
                        <h5>Elektrik ve Elektronik Müh.</h6>
                        <span><a href="/elektrik-ve-elektronik-muhendisligi">Başla</a></span>
                    </div>
                    <div class="package">
                        <i class="fa-solid fa-gears"></i>
                        <h5>Makine Müh.</h6>
                        <span><a href="/makine-muhendisligi">Başla</a></span>
                    </div>
                    <div class="package">
                        <i class="fa-solid fa-code"></i>
                        <h5>Yazılım Müh.</h6>
                        <span><a href="/yazilim-muhendisligi">Başla</a></span>
                    </div>
                    <div class="package">
                        <i class="fa-solid fa-computer"></i>
                        <h5>Bilgisayar Müh.</h6>
                        <span><a href="/bilgisayar-muhendisligi">Başla</a></span>
                    </div>
                    <div class="package">
                        <i class="fa-solid fa-helmet-safety"></i>
                        <h5>İnşaat Müh.</h6>
                        <span><a href="/insaat-muhendisligi">Başla</a></span>
                    </div>
                    <div class="package">
                        <i class="fa-solid fa-flask-vial"></i>
                        <h5>Gıda Müh.</h6>
                        <span><a href="/gida-muhendisligi">Başla</a></span>
                    </div>
                    <div class="package">
                        <i class="fa-solid fa-industry"></i>
                        <h5>Endüstri Müh.</h6>
                        <span><a href="/endustri-muhendisligi">Başla</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}