{% extends "base.html" %}

{% load static %}

{% block title %}Hakkımızda{% endblock title %}

{% block content %}
    <div class="about">
        <h1>Hakkımızda:</h1>
        <p><span>GAIT</span>, üniversite öğrencilerine yönelik, eğitim süreçlerini daha verimli ve kişiselleştirilmiş bir şekilde desteklemek amacıyla geliştirilmiş bir yapay zeka platformudur. Projemiz, makine, elektrik, yazılım ve bilgisayar mühendisliği gibi dört ana alanda derinlemesine bilgi ve kaynak sunmayı hedeflemektedir. Bu platform, öğrencilerin kendi bölümlerine yönelik sorular sorabilecekleri ve uzman görüşlerine dayanan, detaylı ve anlaşılır cevaplar alabilecekleri bir yapı sunar.</p>
        <p><span>GAIT</span>, üniversite eğitimindeki mevcut boşlukları doldurmayı ve öğrencilerin öğrenme süreçlerini zenginleştirmeyi amaçlamaktadır. Özellikle mühendislik bölümlerinde okuyan öğrenciler, uygulamalı bilgiye ve rehberliğe ihtiyaç duymaktadır. <span>GAIT</span>, uzmanlardan elde edilen verilerle güçlendirilmiş yapay zeka sistemimiz sayesinde, bireysel öğrenme stillerine göre özelleştirilmiş içerikler sunarak, her öğrencinin potansiyelini en üst düzeye çıkarmayı hedeflemektedir.</p>
        <p>Ülkemiz açısından <span>GAIT</span> projesinin önemi oldukça büyüktür. Türkiye, genç nüfusu ve eğitim alanında yaşanan dönüşümle birlikte, nitelikli iş gücüne olan ihtiyacını gidermek için çeşitli yenilikçi çözümlere yönelmektedir. <span>GAIT</span>, bu ihtiyaçları karşılayarak, geleceğin mühendisleri için kişiselleştirilmiş bir öğrenme deneyimi yaratmayı amaçlar. Öğrencilerin eğitimde karşılaştıkları zorlukları aşmalarını sağlamak, bilgiye erişimlerini kolaylaştırmak ve mesleki gelişimlerini desteklemek için yenilikçi çözümler sunmaktadır.</p>
        <p>Ayrıca, <span>GAIT</span> projesi, Türkiye’nin teknolojik gelişim hedefleri doğrultusunda, mühendislik eğitiminin kalitesini artırmaya katkıda bulunmayı amaçlar. Yapay zeka ve otomasyon alanlarındaki bilgi birikimini artırarak, ülkemizin global rekabette daha güçlü bir konuma gelmesine yardımcı olmayı hedeflemekteyiz. Böylece, <span>GAIT</span> sadece bireysel bir öğrenme platformu olmanın ötesine geçerek, ülkemizin eğitim sistemine ve ekonomik büyümesine katkı sağlayan önemli bir aktör olmayı hedeflemektedir.</p>
        <p><span>GAIT</span> ile birlikte, öğrencilerin mesleki bilgi ve becerilerini geliştirirken, aynı zamanda ülkemizin geleceği için nitelikli iş gücü yetiştirilmesine de katkıda bulunmayı amaçlıyoruz.</p>
    </div>
{% endblock content %}

{% block script %}{% endblock script %}